@page "/apps/v2/chat"
@layout Chat.Layouts.MainFrame
@using Pocco.Client.Web.Pages.Chat.Components

<Header>
    <Promotion IsBordered=false />

    <div class="d-flex gap-4">
        <Icons Mode=@Icons.IconMode.BootstrapIcons IconSource="inbox-fill" Cursor="pointer" Color="#16283a" />
        <Icons Mode=@Icons.IconMode.BootstrapIcons IconSource="question-circle-fill" Cursor="pointer" Color="#16283a" />
        <Icons Mode=@Icons.IconMode.BootstrapIcons IconSource="cloud-download-fill" Cursor="pointer" Color="#16283a" />
    </div>
</Header>
