@page "/login"
@layout Layouts.WelcomeLayout

<div class="login-wrapper">
    <div class="login-header">
        <img src="_content/Pocco.Client.Shared/assets/logos/pocco-icon.png" alt="Pocco Logo" class="login-logo">
        <h1 class="login-title">ログイン</h1>
    </div>
    <div class="login-form">
        <div class="username-input">
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" @bind="email" required>
        </div>
        <div class="password-input">
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" @bind="password"
                required>
        </div>

        <button type="submit" class="login-btn" @onclick="HandleLogin" disabled="@isLoading">
            <span class="btn-text">ログイン</span>
        </button>

        <div class="gotto-register-text">
            <span>アカウントをお持ちではありませんか？</span>
            <button class="register-link" @onclick="() => GoToRegisterPage()">登録</button>
        </div>
    </div>
</div>
