<div class="d-flex flex-grow-1 flex-column justify-content-start align-items-start overflow-y-scroll
            px-3 pb-3">
    @foreach (var message in Messages)
    {
        <ChatMessage Message="message" />
    }
</div>
