@if (Type == ChatType.Category)
{
    @* Categorized chats *@
    <div class="w-100 mt-3 accordion pocco_categories" id="@Id">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    @Name
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                @foreach (var chat in Children)
                {
                    <Chats Type="@chat.Type" Name="@chat.Name" />
                }
            </div>
        </div>
    </div>
}
else
{
    @* Row chats *@
    <div class="w-100 d-flex flex-row align-items-center pocco_chats">
        <div class="btn-group" style="width: 100%;">
            <button
                class="pocco_chats__bs_btn w-100 d-flex align-items-start justify-content-start border-0 rounded-start ps-2"
                type="button">
                <i class="bi bi-@GetIcon() me-1"></i>
                @Name
            </button>
        </div>
        <div class="btn-group">
            <button class="pocco_chats__bs_btn dropdown-toggle border-0 rounded-end ps-1 pe-1" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">チャットの操作画面を開く</span>
            </button>
            <ul class="dropdown-menu w-100 dropdown-menu-end"> @* TODO: カスタムコンポーネントに変更 *@
                <li>
                    <p class="dropdown-item m-0">IDを取得</p>
                </li> @* TODO: @onclick イベントを追加 *@
                @* Organization list *@
            </ul>
        </div>
    </div>
}
