<div class="w-100 d-flex flex-row justify-content-start align-items-start overflow-y-scroll
            px-3 pb-3">

    <Icons Mode=@Icons.IconMode.Images IconSource="https://placehold.jp/150x150.png" Cursor="pointer" Color="#16283a"
        Height="45px" />
    <div class="d-flex flex-column">
        <div>SampleAuthor @Message.CreatedAt</div>
        <div>@Message.Content</div>
    </div>
</div>
