<div class="w-100 mb-3 d-flex flex-row align-items-center pocco_org_selector">
    <div class="btn-group" style="width: 95%;">
        <button
            class="pocco_org_selector__bs_btn w-100 btn btn-secondary d-flex align-items-center justify-content-start border-end-0 rounded-start"
            type="button" data-bs-toggle="dropdown" aria-expanded="false">
            orgname
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"> @* TODO: カスタムコンポーネントに変更 *@
            <li><a class="dropdown-item" href="#">設定</a></li>
            <li><a class="dropdown-item" href="#">プライバシー設定</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">組織プロフィール編集</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">セキュリティに対する報告</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">IDをコピー</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="pocco_org_selector__bs_btn btn btn-secondary dropdown-toggle border-start-0 rounded-end"
            type="button" @onclick="() => OnOpenOrganizationSelectorClicked()">
            <span class="visually-hidden">組織の選択画面を開く</span>
        </button>
    </div>
</div>
