<div class="d-flex flex-column justify-content-center align-items-start rounded-2 position-relative" style="width: 95%; background-color: var(--bs-gray-600);">
  <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded-2 position-relative" style="background-color: var(--bs-blue);">
    <img src="http://@_cdnAddress/sys-content/images/600x350.png" alt="Pocco is here!" class="rounded-2" style="width: 100%; height: auto;" />
    <img src="http://@_cdnAddress/sys-content/images/120x120.png" alt="Pocco is here!" class="rounded-4 position-absolute" style="width: 80px; height: 80px; margin-right: 5px; bottom: -25px; left: 25px;" />
  </div>
  <div class="p-4"></div>
  <div class="w-100 d-flex flex-column justify-content-center align-items-start p-2 rounded-2 position-relative" style="color: white; background-color: transparent;">
    <h4 class="w-100 mb-3" style="font-weight: 700;">@_orgName</h4>
    <p class="p-0" style="font-weight: 400; font-size: 12px;">@_orgDescription</p>
  </div>
  <div class="w-100 ps-1 pe-1 pb-1">
    <div class="action_item_wrapper rounded-2 cursor-pointer disabled">
      <div class="p-1 d-flex flex-row justify-content-start align-items-center">
        <i class="bi bi-hammer ps-1 pe-1"></i>
        <p class="flex-grow-1" style="font-weight: 500; margin: 0;">Guidelines</p>
      </div>
    </div>
    <div class="action_item_wrapper rounded-2 cursor-pointer disabled">
      <div class="p-1 d-flex flex-row justify-content-start align-items-center">
        <i class="bi bi-person-bounding-box ps-1 pe-1"></i>
        <p class="flex-grow-1" style="font-weight: 500; margin: 0;">Members</p>
      </div>
    </div>
    <div class="action_item_wrapper rounded-2 cursor-pointer" @onclick="async (e) => await ParentPage.OrgSettingsModalRef!.Show()">
      <div class="p-1 d-flex flex-row justify-content-start align-items-center">
        <i class="bi bi-gear-fill ps-1 pe-1"></i>
        <p class="flex-grow-1" style="font-weight: 500; margin: 0;">Settings</p>
      </div>
    </div>
  </div>
</div>
