<div class="w-100 h-100 flex-column justify-content-center align-items-center position-absolute ps-1 pe-1" style="top: 0; left: 0; z-index: 500; display: @(_hideModal == true ? "none" : "flex"); background-color: #96909070;" @onclick="async (e) => await Hide(e)">
  <div class="w-100 d-flex flex-row justify-content-center align-items-start bg-white rounded-3 position-relative" style="max-width: 80%; height: 800px; z-index: 501;" @onclick:stopPropagation="true">

    <button class="btn btn-light position-absolute top-0 end-0 m-2" style="z-index: 502;" title="Close" @onclick="async (e) => await Hide(e)">
      <i class="bi bi-x-lg"></i>
    </button>

    <div class="h-100 d-flex flex-column" style="width: 250px; border-right: 1px solid #ccc;">
      <h4 class="w-100 d-flex flex-row align-items-center justify-content-center" style="height: 45px; border-bottom: 1px solid #ccc; font-weight: bold;">組織の設定</h4>
      <div class="w-100 d-flex flex-row align-items-center justify-content-end pe-4" style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 10px; cursor: pointer;" @onclick="async () => await ChangeMode(OrgSettingsMode.General)">
        <h5>一般</h5>
      </div>
      <div class="w-100 d-flex flex-row align-items-center justify-content-end pe-4" style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 10px; cursor: pointer;" @onclick="async () => await ChangeMode(OrgSettingsMode.Roles)">
        <h5>役割・権限</h5>
      </div>
      <div class="w-100 d-flex flex-row align-items-center justify-content-end pe-4" style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 10px; cursor: pointer;" @onclick="async () => await ChangeMode(OrgSettingsMode.Chats)">
        <h5>チャット</h5>
      </div>
      <div class="w-100 d-flex flex-row align-items-center justify-content-end pe-4" style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 10px; cursor: pointer;" @onclick="async () => await ChangeMode(OrgSettingsMode.Others)">
        <h5>その他</h5>
      </div>
    </div>
    <div class="h-100 flex-grow-1 d-flex flex-column">
      @if (_orgSettingsMode is OrgSettingsMode.General)
      {
        <div class="p-3 d-flex flex-column" style="min-height: 0; overflow-y: auto;">
          <h4>一般設定</h4>
          <div class="mt-4 p-3 bg-light d-flex flex-column align-items-start justify-content-start" style="border: 1px solid #ccc; border-radius: 5px;">
            <div class="pt-2" id="uploadForm" novalidate>

              <div class="field">
                <div class="d-flex flex-row justify-content-center align-items-center" style="gap:12px;">
                  <div class="preview d-flex flex-column justify-content-center align-items-center" id="imagePreview" aria-live="polite">
                    <i class="bi bi-image" style="font-size:45px;color:#ccc;"></i>
                    <p style="font-size: 12px;">アップロード</p>
                  </div>
                  <div class="d-flex flex-column">
                    <input id="image" name="image" type="file" accept="image/*" style="display:none;" />
                    <div class="hint">対応形式: JPG, PNG, GIF 等。最大 5MB。</div>
                    <div class="hint">まだダミー。ごめん (&gt; _ &lt;)</div>
                    <div class="error" id="imageError" aria-hidden="true"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label for="name">名前（必須・30文字以内）</label>
              <input id="name" name="name" type="text" maxlength="30" required placeholder="例) Genius haskey" value="@_currentOrgName" @oninput="async (e) => await OnOrganizationNameChanged(e)" />
              <div class="error">
                @if (string.IsNullOrEmpty(OrganizationName))
                {
                  <div>Error</div>
                }
              </div>
            </div>

            <div class="field">
              <label for="description">簡単な説明（任意・200文字以内）</label>
              <textarea id="description" name="description" rows="4" maxlength="200" placeholder="この組織について短く説明してください（例: とても優秀なハスキーの集まりです）" value="@_currentOrgDescription" @oninput="async (e) => await OnOrganizationDescriptionChanged(e)"></textarea>
            </div>

            <dvi class="d-flex flex-row align-items-end justify-content-end w-100 mt-3">
              <button class="btn btn-success" disabled="@(!_canSaveChanges)" @onclick="async (e) => await OnUpdateOrganizationBtnClicked(e)">保存</button>
            </dvi>
          </div>

          <hr class="my-4" />

          <div class="mt-4 p-3 bg-light d-flex flex-row align-items-center justify-content-between" style="border: 1px solid green; border-radius: 5px;">
            <div class="text-success" style="font-weight: bold;">
              所有権を他のメンバーに移管します。
            </div>
            <button class="btn btn-success disabled" @onclick="async (e) => await OnDeleteOrganizationBtnClicked(e)">所有権の移管</button>
          </div>
          <div class="mt-4 p-3 bg-light d-flex flex-row align-items-center justify-content-between" style="border: 1px solid red; border-radius: 5px;">
            <div class="text-danger" style="font-weight: bold;">
              組織から退会します。
            </div>
            <button class="btn btn-danger" @onclick="async (e) => await OnDeleteOrganizationBtnClicked(e)">退会</button>
          </div>
          <div class="mt-4 p-3 bg-light d-flex flex-row align-items-center justify-content-between" style="border: 1px solid red; border-radius: 5px;">
            <div class="text-danger" style="font-weight: bold;">
              組織を削除します。（復元不可）
            </div>
            <button class="btn btn-danger" @onclick="async (e) => await OnDeleteOrganizationBtnClicked(e)">削除</button>
          </div>
        </div>
      }
      else if (_orgSettingsMode is OrgSettingsMode.Roles)
      {
        <div class="p-3 d-flex flex-column" style="min-height: 0; overflow-y: auto;">
          <h4>ロール設定</h4>
        </div>
      }
      else if (_orgSettingsMode is OrgSettingsMode.Chats)
      {
        <div class="p-3 d-flex flex-column" style="min-height: 0; overflow-y: auto;">
          <h4>チャット設定</h4>
        </div>
      }
      else if (_orgSettingsMode is OrgSettingsMode.Others)
      {
        <div class="p-3 d-flex flex-column" style="min-height: 0; overflow-y: auto;">
          <h4>その他の設定</h4>
        </div>
      }
      else
      {
        <p>Unknown</p>
      }
    </div>
  </div>
</div>
