<div class="pocco_promotion @(IsBordered ? "pocco_promotion--bordered" : "")">
    <img class="pocco_promotion__icon" src="@Assets["/assets/logos/pocco-icon.png"]" alt="Pocco is here!" />
    <h1 class="pocco_promotion__appname">Pocco</h1>
</div>
