@inherits ComponentBase

<div class="scoped-injector">
    @ChildContent

    @if (Service != null)
    {
        <div>Service ID: <span>@Service.Id</span> | Active: <span>@connectedClientCount</span></div>
    }
    else
    {
        <div>Loading service...</div>
    }
</div>
