<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />

  <link rel="stylesheet" href="http://localhost:5197/sys-content/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:5197/sys-content/bootstrap-icons/bootstrap-icons.css">

  <link rel="stylesheet" href=@Assets["app.css"] />
  <link rel="stylesheet" href="Pocco.Client.Web.styles.css" />

  <link rel="icon" type="image/png" href="http://localhost:5197/sys-content/logos/pocco-icon.png">

  <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
  <Routes @rendermode="InteractiveServer" />

  <script src="http://localhost:5197/sys-content/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="_framework/blazor.web.js"></script>
  <script src="@Assets["/js/LocalStorageHelper.js"]"></script>
</body>

</html>
