@page "/register"
@layout WelcomeLayout

<div class="register-wrapper">
  <div class="register-header">
    <img src="http://localhost:5197/sys-content/logos/pocco-icon.png" alt="Pocco Logo" class="login-logo">
    <h1 class="register-title" style="color: black;">登録</h1>
  </div>
  <div class="register-form">
    <div class="username-input">
      <div class="input-info">
        <label for="email">メールアドレス</label>
        <label for="email" id="emailError">@emailError</label>
      </div>
      <input type="email" id="email" class="@(hasEmailError ? "error" : "")" name="email" placeholder="Enter your email" @oninput="async (e) => await OnEmailInputChange(e)" @bind-value="email" required>
    </div>
    <div class="password-input">
      <div class="input-info">
        <label for="password">パスワード</label>
        <label for="password" id="passwordError">@passwordError</label>
      </div>
      <input type="password" id="password" class="@(hasPasswordError ? "error" : "")" name="password" placeholder="Enter your password" @oninput="async (e) => await OnPasswordInputChange(e)" @bind-value="password" required>
    </div>

    <button type="submit" class="register-btn" @onclick="async () => await HandleRegister()">
      <span class="btn-text">登録</span>
      <span class="btn-spinner"></span>
    </button>

    <div class="gotto-register-text">
      <span style="color: black;">アカウントを既にお持ちですか？</span>
      <button class="login-link" @onclick="() => GoToLoginPage()">ログイン</button>
    </div>
  </div>
</div>
