<div class="d-flex flex-column align-items-center justify-content-center overflow-y-auto h-100 w-100"
    style="padding: 0 360px">
    <h1>組織に参加する</h1>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">code</span>
        <input type="text" class="form-control" placeholder="参加コードを入力する" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">参加</button>
</div>
