# Dotnet settings
ASPNETCORE_URLS={SET_SERVER_URL}
ASPNETCORE_ENVIRONMENT=Production

# Pocco settoings
ACCOUNT_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
AUTH_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
ORGANIZATION_INFO_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
ORGANIZATION_MEMBER_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
ORGANIZATION_CHAT_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
ORGANIZATION_MESSAGE_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
ORGANIZATION_ROLE_SERVICE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
EVENT_BRIDGE_ADDRESS={CHANGE_HERE_TO_SERVICE_URL}
