# Dotnet settings
ASPNETCORE_URLS={SET_SERVER_URL}
ASPNETCORE_ENVIRONMENT=Production

# Pocco settoings
POCCO_DB_URL={SET_DATABASE_URI}
INTERNAL_ACCOUNT_SVC_URL={SET_ACCOUNT_SVC_URL}
EVENTBRIDGE_URL={SET_EVENTBRIDGE_URL}
