<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <POCCO_API_ENDPOINT>http://localhost:PORT</POCCO_API_ENDPOINT>
            <POCCO_TEST_EMAIL>TEST@email.here</POCCO_TEST_EMAIL>
            <POCCO_TEST_PASSWORD>TEST_PASSWORD_HERE</POCCO_TEST_PASSWORD>
            <POCCO_TEST_ORGANIZATION_ID>GENERATE_ID_WITH_CREATE</POCCO_TEST_ORGANIZATION_ID>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
