@page "/logout-success"
@layout Layouts.WelcomeLayout

<div class="logout-wrapper">
    <img src="@Assets["/assets/logos/pocco-icon.png"]" alt="Pocco Logo" class="logout-logo">
    <h1>ログアウトに成功しました！</h1>
    <p>またのご利用をお待ちしております。</p>
    <button class="login-link" @onclick="() => GoToLoginPage()">なに？戻りたいって？こちらからどうぞ ログイン</button>
</div>

<ClientHolder />
