@page "/slide-sample"


<div class="switcher"
    style="display: @(IsShown ? "flex" : "none"); position: absolute; width: 100vw; height: 100vh; overflow: hidden; top: 0; left: 0; flex-direction: column; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.7); border: 1px solid #ccc; border-radius: 8px; box-shadow: 2px 2px 12px rgba(0,0,0,0.1); z-index: 1000;">

    <div class="d-flex flex-column align-items-center"
        style="width: calc(100% - 550px); height: 800px; padding: 20px; background-color: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 1px 1px 8px rgba(0,0,0,0.8);">
        <div class="d-flex gap-2 mb-3">
            <button @onclick="() => Switch(View.Top)">List</button>
            <button @onclick="() => Switch(View.Create)">Create</button>
            <button @onclick="() => Switch(View.Search)">Search</button>
            <button @onclick="async () => await OnCloseClicked()">Close</button>
        </div>

        <div class="panels d-flex flex-grow-1 overflow-hidden position-relative w-100">
            @if (previousType != null)
            {
                <div class="panel prev @prevCss">
                    <DynamicComponent Type="previousType" Parameters="previousParams" />
                </div>
            }

            <div class="panel curr @currCss">
                <DynamicComponent Type="currentType" Parameters="currentParams" />
            </div>
        </div>
    </div>
</div>
