# Dotnet settings
ASPNETCORE_URLS={SET_SERVER_URL}
ASPNETCORE_ENVIRONMENT=Production

# Pocco settoings
POCCO_DB={SET_DATABASE_URI}
EVENTBRIDGE_URL={SET_EVENTBRIDGE_URL}
INTERNAL_ACCOUNT_SVC_URL={SET_ACCOUNT_SVC_URL}
ORG_CHAT_SVC_URL={SET_ORG_CHAT_SVC_URL}
