# Dotnet settings
ASPNETCORE_URLS={SET_SERVER_URL}
ASPNETCORE_ENVIRONMENT=Production

# Pocco settoings
JWT_SECRET_KEY={CHANGE_HERE_TO_SECRET_UUIDv4}
MONGO_CONNECTION_STRING={CHANGE_HERE_TO_MONGODB_CONNECTION_STRING}
